/*
HEADER STYYYYYLING
 */
.logo {

    position: absolute;
    left: 0;
    width: 4rem;
    color: white;
    z-index: 2;
}

.header {
    position: absolute;
    display: flex;
    z-index: 20;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem;
    width: 100%;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    overflow: hidden;
    background: none;
}

.menu-line {
    height: 3px;
    background-color: #000;
    border-radius: 2px;
}

.menu-line:nth-of-type(2) {
    width: 28px;
}

.mobile-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 2rem 2rem 6rem 2rem;
    z-index: 10;
    background-color: rgba(220, 16, 165, 0.4);
}

.content-wrapper {
    margin-top: 2rem;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
}

.list-item {
    font-size: 2.25rem;
    font-weight: bold;
    margin: 1rem 0;
    text-align: center;
    font-family: "Roashe";

}

.icon-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
}


/*
SET CSS
*/
html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}
